@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  <p>@Html.ActionLink("View Projects", "Index", "Projects")</p>
  @using (Html.BeginForm("LogOff", "Accounts"))
  {
    <input type="submit" class="btn btn-primary" value="Log out" />
  }
}
else
{
  
  
}